workspace = { members = ["parquet-lru", "tonbo_macros"] }

[package]
description = "An embedded persistent KV database in Rust."
documentation = "https://docs.rs/tonbo"
edition = "2021"
license = "Apache-2.0"
name = "tonbo"
readme = "README.md"
resolver = "2"
version = "0.3.2"

[package.metadata]
msrv = "1.79.0"

[features]
aws = ["fusio-dispatch/aws", "fusio-log/aws", "fusio/aws"]
bench = ["redb", "rocksdb", "sled"]
bytes = ["dep:bytes"]
datafusion = ["dep:async-trait", "dep:datafusion"]
default = ["aws", "bytes", "tokio", "tokio-http"]
load_tbl = []
object-store = ["fusio/object_store"]
opfs = [
    "dep:wasm-bindgen-futures",
    "fusio-dispatch/opfs",
    "fusio-log/web",
    "fusio-parquet/web",
    "fusio/opfs",
]
redb = ["dep:redb"]
rocksdb = ["dep:rocksdb"]
sled = ["dep:sled"]
sync = ["fusio/sync"]
tokio = [
    "fusio-dispatch/tokio",
    "fusio-log/tokio",
    "fusio-parquet/tokio",
    "fusio/tokio",
    "parquet/default",
    "tokio/fs",
    "tokio/rt-multi-thread",
]
tokio-http = ["fusio/tokio-http", "fusio-log/tokio-http"]
wasm = ["aws", "bytes", "opfs", "wasm-http"]
wasm-http = ["fusio/wasm-http", "fusio-log/web-http"]

[[example]]
name = "declare"
required-features = ["bytes", "tokio"]

[[example]]
name = "datafusion"
required-features = ["datafusion"]

[[bench]]
harness = false
name = "write_bench"
required-features = ["bench"]

[[bench]]
harness = false
name = "read_bench"
required-features = ["bench"]

[[bench]]
harness = false
name = "common"
required-features = ["bench"]

[[bench]]
harness = false
name = "writes"
path = "benches/criterion/writes.rs"
required-features = ["sled"]

[dependencies]
arrow = "55"
async-lock = "3"
async-stream = "0.3"
async-trait = { version = "0.1", optional = true }
bytes = { version = "1.7", optional = true }
crc32fast = "1"
crossbeam-skiplist = "0.1"
datafusion = { version = "47", optional = true }
flume = { version = "0.11", features = ["async"] }
fusio = { git = "https://github.com/tonbo-io/fusio", rev = "278eb79091b24df29eb9f3ac78ae6c3305ea3ee6", version = "0.3.8", package = "fusio", features = [
    "dyn",
    "fs",
] }
fusio-dispatch = { git = "https://github.com/tonbo-io/fusio", rev = "278eb79091b24df29eb9f3ac78ae6c3305ea3ee6", version = "0.3.8", package = "fusio-dispatch" }
fusio-log = { git = "https://github.com/tonbo-io/fusio", rev = "278eb79091b24df29eb9f3ac78ae6c3305ea3ee6", version = "0.3.8", package = "fusio-log", default-features = false, features = [
    "bytes",
] }
fusio-parquet = { git = "https://github.com/tonbo-io/fusio", rev = "278eb79091b24df29eb9f3ac78ae6c3305ea3ee6", version = "0.3.8", package = "fusio-parquet" }
futures-core = "0.3"
futures-util = "0.3"
lockable = "0.1.1"
once_cell = "1"
parquet = { version = "55", default-features = false, features = [
    "async",
    "base64",
    "brotli",
    "flate2",
    "lz4",
    "snap",
] }
parquet-lru = { version = "0.3.0", path = "parquet-lru" }
pin-project-lite = "0.2"
thiserror = "2.0.3"
tokio = { version = "1", features = ["io-util"], default-features = false }
tonbo_macros = { version = "0.3.1", path = "tonbo_macros" }
tracing = "0.1"
ulid = { version = "1", features = ["serde"] }

# Only used for benchmarks
log = "0.4.22"
redb = { version = "2", optional = true }
rocksdb = { version = "0.23", optional = true }
sled = { version = "0.34", optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = { version = "0.3.1", features = ["wasm_js"] }
wasm-bindgen = "0.2.95"
wasm-bindgen-futures = { version = "0.4.45", optional = true }

[dev-dependencies]
bincode = "1"
fastrand = "2"
futures = { version = "0.3" }
serde = "1"
tempfile = "3"
trybuild = "1.0"

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
comfy-table = "7"
criterion = { version = "0.5", features = ["async_tokio", "html_reports"] }
mimalloc = "0.1"
tokio = { version = "1", features = ["full"] }

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen = "0.2.95"
wasm-bindgen-test = "0.3.9"
web-sys = { version = "0.3", features = ["console"] }

[target.'cfg(unix)'.dev-dependencies]
pprof = { version = "0.14", features = ["criterion", "flamegraph"] }

[profile.release]
codegen-units = 1
lto = "thin"

[profile.bench]
debug = true
inherits = "release"
