[package]
name = "tonbo"
version = "0.1.0"
edition = "2024"
resolver = "2"

[features]
default = []
# Enable this to compile the optional S3 smoke test in `tests/s3_smoke.rs`.
s3-smoke = []

[dependencies]
arrow-buffer = "56.2.0"
arrow-ipc = "56.1.0"
arrow-array = "56.2.0"
arrow-schema = "56.2.0"
arrow-select = "56.2.0"
crc32c = "0.6"
fusio = { git = "https://github.com/tonbo-io/fusio.git", package = "fusio", features = [
    "aws",
    "dyn",
    "executor-tokio",
    "fs",
    "tokio",
    "tokio-http",
] }
fusio-parquet = { git = "https://github.com/tonbo-io/fusio.git", package = "fusio-parquet" }
futures = "0.3"
once_cell = "1"
typed-arrow-dyn = { version = "0.0.2" }
thiserror = "2.0.17"
ulid = { version = "1", features = ["serde"] }
parquet = "56.2.0"
lockable = "0.2"
serde = { version = "1", features = ["derive", "rc"] }
serde_json = "1"
fusio_manifest = { git = "https://github.com/tonbo-io/fusio.git", package = "fusio-manifest" }

[patch."https://github.com/tonbo-io/fusio.git"]
fusio = { path = "../fusio/fusio", package = "fusio" }
fusio_manifest = { path = "../fusio/fusio-manifest", package = "fusio-manifest" }
fusio-parquet = { path = "../fusio/fusio-parquet", package = "fusio-parquet" }

[dev-dependencies]
typed-arrow = { version = "0.4.1", features = ["ext-hooks"] }
fusio = { git = "https://github.com/tonbo-io/fusio.git", package = "fusio", features = [
    "aws",
    "dyn",
    "executor-tokio",
    "fs",
    "tokio",
    "tokio-http",
] }
futures = "0.3"
tokio = { version = "1", features = [
    "macros",
    "rt",
    "rt-multi-thread",
    "time",
] }
tempfile = "3"
clap = { version = "4.5.4", features = ["derive"] }
