[package]
edition = "2024"
name = "tonbo"
resolver = "2"
version = "0.1.0"

[workspace]
members = [".", "predicate"]

[features]
default = []
# Enable this to compile the optional S3 smoke test in `tests/s3_smoke.rs`.
s3-smoke = []
test-helpers = []

[dependencies]
arrow-array = "56.2.0"
arrow-buffer = "56.2.0"
arrow-ipc = "56.1.0"
arrow-schema = { version = "56.2.0", features = ["serde"] }
arrow-select = "56.2.0"
crc32c = "0.6"
fusio = { git = "https://github.com/tonbo-io/fusio.git", package = "fusio", features = [
    "aws",
    "dyn",
    "executor-tokio",
    "fs",
    "tokio",
    "tokio-http",
] }
fusio-manifest = { git = "https://github.com/tonbo-io/fusio.git", package = "fusio-manifest" }
fusio-parquet = { git = "https://github.com/tonbo-io/fusio.git", package = "fusio-parquet" }
futures = "0.3"
lockable = "0.2"
once_cell = "1"
parquet = { version = "56.2.0", default-features = false, features = [
    "async",
    "zstd",
] }
pin-project-lite = "0.2"
predicate = { version = "0.1.0", path = "predicate" }
serde = { version = "1", features = ["derive", "rc"] }
serde_json = "1"
sha2 = "0.10"
thiserror = "2.0.17"
tokio = { version = "1", features = ["rt", "rt-multi-thread"] }
typed-arrow-dyn = { git = "https://github.com/tonbo-io/typed-arrow.git", package = "typed-arrow-dyn", features = [
    "serde",
] }
ulid = { version = "1", features = ["serde"] }


[dev-dependencies]
clap = { version = "4.5.4", features = ["derive"] }
fusio = { git = "https://github.com/tonbo-io/fusio.git", package = "fusio", features = [
    "aws",
    "dyn",
    "executor-tokio",
    "fs",
    "tokio",
    "tokio-http",
] }
futures = "0.3"
tempfile = "3"
tokio = { version = "1", features = [
    "macros",
    "rt",
    "rt-multi-thread",
    "time",
] }
typed-arrow = { version = "0.4.1", features = ["ext-hooks"] }
