[package]
edition = "2021"
name = "tonbo-python"
version = "0.1.0"

[lib]
crate-type = ["cdylib"]

[workspace]

[dependencies]
fusio = { package = "fusio", version = "0.3.1", features = ["aws", "tokio"] }
fusio-dispatch = { package = "fusio-dispatch", version = "0.2.0", features = [
    "aws",
    "tokio",
] }
futures = { version = "0.3" }
parquet-lru = { version = "0.1.0", path = "../../parquet-lru" }
pyo3 = { version = "0.21.2", features = [
    "abi3",
    "abi3-py310",
    "extension-module",
] }
pyo3-asyncio = { package = "pyo3-asyncio-0-21", version = "0.21", features = [
    "tokio-runtime",
] }
tokio = { version = "1", features = ["rt-multi-thread"] }
tonbo = { version = "0.2.0", path = "../../" }
