name: Python Binding CI

on:
  push:
  pull_request:
  workflow_dispatch:


jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: check

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Build with maturin and run
        shell: bash
        working-directory: "bindings/python"
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install maturin
          maturin develop -E test
          pytest --ignore=tests/bench -v .  
